In [50]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

plt.style.use('fivethirtyeight')
sns.set_context("notebook")

In [51]:
sindhdata_enrollment= pd.read_csv("enrollment.csv")

In [52]:
sindhdata_enrollment = sindhdata_enrollment.drop("Number", axis="columns")
sindhdata_enrollment = sindhdata_enrollment[sindhdata_enrollment.Composition != "TOTAL"]

sindhdata_enrolment = sindhdata_enrollment[sindhdata_enrollment.Category == "ENROLMENT"]
sindhdata_institutions = sindhdata_enrollment[sindhdata_enrollment.Category == "INSTITUTIONS"]
sindhdata_teachingstaff = sindhdata_enrollment[sindhdata_enrollment.Category == "TEACHING STAFF"]

enrolment_res= sindhdata_enrolment.groupby(["District", "Location","Category", "School Type","Composition"])
final_enrolment= enrolment_res.sum().head(200)
print(final_enrolment)

institutions_res= sindhdata_institutions.groupby(["District", "Location","Category", "School Type","Composition"])
final_institutions= enrolment_res.sum().head(200)
print(final_institutions)

enrolment_res= sindhdata_teachingstaff.groupby(["District", "Location","Category", "School Type","Composition"])
final_teachingstaff= enrolment_res.sum().head(200)
print(final_teachingstaff)

                                                                     No/100000
District          Location Category  School Type      Composition
Badin             Rural    ENROLMENT Higher secondary FEMALE         19.562032
                                                      MALE          137.100475
                                     Middle           FEMALE        208.089039
                                                      MALE          320.141246
                                     Primary          FEMALE       2243.593296
...                                                                        ...
Kamber Shahdadkot Rural    ENROLMENT Middle           MALE          208.494589
                                     Primary          FEMALE       3194.530820
                                                      MALE         4744.221285
                                     Secondary        FEMALE        442.939147
                                                      MALE         1070.212566

[200 rows x 1 columns]
                                                                     No/100000
District          Location Category  School Type      Composition
Badin             Rural    ENROLMENT Higher secondary FEMALE         19.562032
                                                      MALE          137.100475
                                     Middle           FEMALE        208.089039
                                                      MALE          320.141246
                                     Primary          FEMALE       2243.593296
...                                                                        ...
Kamber Shahdadkot Rural    ENROLMENT Middle           MALE          208.494589
                                     Primary          FEMALE       3194.530820
                                                      MALE         4744.221285
                                     Secondary        FEMALE        442.939147
                                                      MALE         1070.212566

[200 rows x 1 columns]
                                                                         No/100000
District          Location Category       School Type      Composition
Badin             Rural    TEACHING STAFF Higher secondary FEMALE         0.166250
                                                           MALE           2.992492
                                          Middle           FEMALE         4.987487
                                                           MALE          13.577048
                                          Primary          FEMALE        28.207010
...                                                                            ...
Kamber Shahdadkot Rural    TEACHING STAFF Middle           MALE          14.913776
                                          Primary          FEMALE        50.781407
                                                           MALE         172.104975
                                          Secondary        FEMALE         8.053439
                                                           MALE          44.517621

[200 rows x 1 columns]